<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>竞彩足球比分,即时比分_竞足比分_500彩票网</title>
    <meta name="keywords" content="足球比分直播,zuqiubifen,即时比分,竞彩足球比分直播,bifenzhibo,足彩即时比分直播网" />
    <meta name="description" content="500彩票网竞足比分为您提供各热门赛事的竞彩比分直播、足彩即时比分直播、单场即时比分直播、足球即时比分、开赛时间等信息。" />
    <link href="http://tccache.500.com/mobile/touch/css/bifen.css" type="text/css" rel="stylesheet" />
    <script src="http://tccache.500.com/mobile/touch/js/flexible.js"></script>
    <style>
        .slide-enter-active {
            transition: all .4s ease;
        }

        .slide-leave-active {
            transition: all .4s;
        }

        .slide-enter,
        .slide-leave-active {
            transform: translateY(100%);
            opacity: 1;
        }
    </style>

</head>
<body>
<div id="app"></div>


</body>
</html>